/*
 

   History Style Sheet
   Author: Cameron Kurtiak
   Date:  01/27/24 

   Filename:         history.css
   Supporting Files: 

*/
/* Reset default padding and margin for all elements */
* {
    padding: 0;
    margin: 0;
}

/* Display header, section, and nav elements as blocks */
header, section, nav {
    display: block;
}

/* Header styles */
header {
    background-color: rgb(51, 51, 51);
    text-align: center;
    width: 55em;
}

/* Set the height of the inline image within the header */
header img {
    height: 4em;
}

/* Navigation list styles */
nav {
    float: left;
    width: 15em;
    background-color: rgb(51, 51, 51);
}

/* Style for list items within the navigation list */
nav ul li {
    font-family: "Century Gothic", sans-serif;
    font-size: 0.7em;
    list-style-type: none;
    line-height: 1.4em;
    margin-left: 1em;
    margin-bottom: 1.2em;
}

/* Styles for hypertext links within the navigation list */
nav a {
    color: rgb(212, 212, 212);
    text-decoration: none;
}

/* Change link color on hover */
nav a:hover {
    color: white;
}

/* Speech section styles */
#speech {
    background-color: rgb(212, 212, 212);
    width: 40em;
    float: left;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* h1 heading styles within the speech section */
#speech h1 {
    background-color: rgb(51, 51, 51);
    color: rgb(212, 212, 212);
    font-size: 2em;
    text-align: center;
}

/* Paragraph styles within the speech section */
#speech p {
    font-size: 0.9em;
    margin: 1em;
}

/* Drop-cap effect for the first letter of the first paragraph */
#speech p:first-of-type::first-letter {
    float: left;
    font-size: 4em;
    line-height: 0.8em;
    margin-right: 0.3em;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
    border-right: 0.02em solid black;
    border-bottom: 0.02em solid black;
}

/* Uppercase styling for the first line of the first paragraph */
#speech p:first-of-type {
    text-transform: uppercase;
}

/* Inline image styles within the speech section */
#speech img {
    float: right;
    clear: right;
    height: 4em;
}

/* Add your style comments here to document your work */
